{% load static %}
<link rel="stylesheet" href="{% static 'app/styles.css' %}">

<h1>Lista de Documentos</h1>
<a href="{% url 'crear_documento' %}" class="btn-submit">➕ Crear Documento</a>

<table class="tabla-crud">
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Fecha de Ingreso</th>
    <th>Usuario</th>
    <th>Tipo de Documento</th>
    <th>Acciones</th>
  </tr>
  {% for d in documentos %}
  <tr>
    <td>{{ d.ID_DOCUMENTO }}</td>
    <td>{{ d.NOMBRE_DOCUMENTO }}</td>
    <td>{{ d.FECHA_INGRESO }}</td>
    <td>{{ d.ID_USUARIO.NOMBRE_USUARIO }} {{ d.ID_USUARIO.APELLIDO_USUARIO }}</td>
    <td>{{ d.ID_TIPO_DOCUMENTO.TIPO_DOCUMENTO }}</td>
    <td>
      <a href="{% url 'editar_documento' d.ID_DOCUMENTO %}">✏️ Editar</a> |
      <a href="{% url 'eliminar_documento' d.ID_DOCUMENTO %}">❌ Eliminar</a>
    </td>
  </tr>
  {% endfor %}
</table>
