{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Inicio | NUAM</title>
  <link rel="stylesheet" href="{% static 'app/styles.css' %}">
  <link rel="icon" type="image" href="{% static 'app/nuam_HD2.png' %}">
</head>
<body>
  <img src="{% static 'app/nuam_HD.png' %}" style="height: 30px;">
  <div class="container">
    <h1 class="titulo">Bienvenido a NUAM</h1>
    <div class="Form">
      <h3>Selecciona una sección:</h3>
      <hr>
      <div class="menu">
        <a href="{% url 'lista_usuarios' %}" class="btn">Gestión Usuarios</a>
        <a href="{% url 'lista_documentos' %}" class="btn">Gestión Documentos</a>
        <a href="/admin/" class="btn">Admin</a>
      </div>
      <br>
    </div>

  </div>
</body>
</html>
